body {
	zoom:1;
   font-family: "Segoe UI", "Calibri", "Trebuchet MS", "Helvetica", sans-serif;
   font-weight: normal;
   font-size: 11pt;
   padding-bottom: 20pt;
   width: 675pt;
   margin-left:auto;
   margin-right:auto;
   /* overflow-y:scroll; */
}

td > a {
   text-decoration:none;
}

span.breadcrumbleft {
   float: left;
   font-size: 9pt;
}

span.breadcrumbright {
   float:right;
   font-size: 9pt;
}

a.nounderline {
   text-decoration:none;
}

td.nowrap {
   white-space:nowrap;
}

th.nowrap {
   white-space:nowrap;
}

span.nowrap {
   white-space:nowrap;   
}

tr.bmargin {
   border-bottom-width:1.5px;
   border-bottom-style:solid;
   border-bottom-color:black;
}

p.fcaption {
   padding-top:-10pt;
   margin-top:-10pt;
   font-size:9pt;
}

hr.footer {
   margin-top:2em;
   margin-bottom:0.25em;
}

pre {
   display:block;
   font-family:"Consolas", monospace;
   font-size:11pt;
   background-color:#E8F2FF;
   margin-left:24pt;
   margin-right:24pt;
   padding-top:2pt;
   padding-bottom:2pt;
   padding-left:2pt;
}

pre.rev {
   background-color:white;
   font-family: "Segoe Condensed", sans-serif;
   margin-left:0pt;
   margin-top:-10pt;
   font-size:9pt;
}

pre.hex {
}

pre.cs {
}

pre.out {
   font-weight:bold;
   margin-bottom:12pt;
   background-color:#E8FFE8;
}

pre.nobmargin {
   margin-bottom:0;
}

pre+code {
   margin-top:0;
}

pre, code {
   display:block;
   font-family:"Consolas", monospace;
   font-size:10pt;
   background-color:#E8F2FF;
   margin-left:24pt;
   margin-right:24pt;
   padding-top:2pt;
   padding-bottom:2pt;
   padding-left:2pt;
}

code.out {
   font-weight:bold;
   margin-bottom:12pt;
   background-color:#E8FFE8;
}

code.pre {
   white-space:pre;
}

h1 {
   font-family: "Segoe Condensed", "Segoe UI", "Candara", "Helvetica", sans-serif;
   font-size: 24pt;
   font-weight: bold;
   margin-top: 0;
   margin-bottom: 0.5em;
   color: #404040;
}

h2 {
   font-family: "Segoe Condensed", "Segoe UI", "Candara", "Helvetica", sans-serif;
   font-size: 19pt;
   font-weight: bold;
   margin-top: 1em;
   margin-bottom: 0em;
   padding: 1pt 1pt 1pt 3pt;
   background-color:#DDDDDD;
}

h3 {
   font-family: "Segoe Condensed", "Candara", "Helvetica", sans-serif;
   font-size: 16pt;
   font-weight: bold;   
   margin-top: 1em;
   margin-bottom: 0pt;
   padding-bottom: 0pt;
}

h4 {
   font-family: "Segoe UI", "Candara", "Helvetica", sans-serif;
   font-size: 12pt;
   color: #555555;
   font-weight: bold;
   margin-top:0pt;
   margin-bottom: 0pt;
   padding-bottom: 0pt;
}

h4+p {
   margin-top:0pt;
}

h2+h3 {
   margin-top:2pt;
}

h3+p {
   margin-top:0pt;
}

h3+ol {
   margin-top:0.25em;
}

p+ol {
   margin-top:0pt;
}

ol {
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

ul {
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

/* For nested lists, reduce the margins */
ul > li > ul, ul > li > ol, ol > li > ol, ol > li > ul {
   margin-top: 0;
   margin-bottom: 0;
   padding-top:0;
   padding-bottom:0;
}

p {
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

th {
   text-align:left;
}

td.center {
   text-align:center;
}

img.tiny {
   width: 24px;
   height: 24px;
}

p.footer {
   font-size: 9pt;
   margin-top: 0em;
   margin-bottom: 0em;
}

h2 + table {
   margin-top: 5pt;
}

table, th, td {
   border: 1px solid #808080;
   border-collapse: collapse;
}

th, td {
   padding-left: 0.5em;
   padding-right: 0.5em;
   padding-top: 1px;
   padding-bottom: 1px;
}

td {
   margin-left: 20em;
   margin-right: 2em;
}

sup {
   font-size: 8pt;
}

img.rightalign {
   float: right;
   margin: 2pt 0 2pt 6pt;
}

hr.footer {
   clear:both;
}
